* {
    margin: 10;
    padding: 10;
}

body {
    background-color: #f2f2f2;
}

.top {
    padding-left: 12px;
    display: flex;
}

.button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 30px;
}


nav {
    /* width: 100%; */
    margin-right: auto;
    /* background: #fff; */
    padding: 20px 0;
    /* box-shadow: 0px 5px 0px #dedede */
}

nav ul {
    list-style: none;
    /* text-align: center; */
    padding-inline-start: 0px;
    /* width: auto; */
}

nav ul li {
    display: inline-block;
}


nav ul li a {
    /* display: block; */
    padding: 15px;
    text-decoration: none;
    color: #160e0e;
    /* font-weight: 800; */
    margin: 0 10px;
}

nav ul li+li a:before {
    transition: all .5s;
    padding: 8px;
    color: rgb(11, 1, 1);
    content: "/\00a0";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}


nav ul li a,
nav ul li a:after {
    transition: all .5s;

}

nav ul li a:hover {
    color: #0f0f0f;
    font-weight: 800;
}

/* stroke */

nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

.menu {
    background-color: #ececec;
    margin: 22px 15px;
    padding-top: 15px;
    padding-right: 60px;
    padding-bottom: 15px;
    padding-left: 19px;
    border-radius: 30px;
    display: flex;
    /* justify-content: left; */
    position: relative;
    display: flex;
    /* align-items: center; */
    font-size: small;
}

.menu-button {
    background-color: rgb(252, 252, 253);
    border-radius: 50%;
    border: none;
    text-align: center;
    cursor: pointer;
    width: calc(100% - 70px);
    aspect-ratio: 1/1;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu-button b {
    font-size: 24px;
}

.description h1 {

    font-family: 'Syne', sans-serif;
    font-size: 0.5in;
    margin-top: 4px;
}

.description {
    margin: 60px;
}

#one {
    font-size: x-small;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: 'Lexend Peta', sans-serif;

}

#two {
    font-family: 'Syne', sans-serif;
    font-size: smaller;
    font-weight: 100;
}

.buttons {
    background-color: #2b6f70;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    font-size: x-small;
}

.middle {
    padding: 55px;
    margin-top: -90px;

}

.round {
    background-color: rgb(252, 252, 253);
    border-radius: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    width: calc(100% - 97%);
    aspect-ratio: 1/1;
    max-height: 100%;
    position: relative;
    right: 0;
    top: 4px;
    bottom: 0;
    margin: 10px;
}

.bg_img {
    float: right;
    margin-top: -500px;
    margin-right: 180px;
    height: 650px;
    /* transform: rotate(40deg); */
}

.box_one {
    position: relative;
    background-color: #2e4b46;
    opacity: 0.9;
    /* filter: blur(8px); */
    height: 200px;
    width: 270px;
    margin-left: 68%;
    margin-right: 20%;
    margin-top: -280px;
    border-radius: 20px;
    /* clip-path: circle(); */
    color: white;
    
}

.snowflake {
    margin-left: 86%;
    margin-top: 10px;
    font-size: 25px;
}

.box_two {
    position: relative;
    background-color: white;
    /* mix-blend-mode:calc(100%-90px); */
    height: 70px;
    width: 70px;
    margin-left: 5%;
    margin-right: 40px;
    margin-top: -150px;
    border-radius: 100%;
    color: white;
    /* opacity: 0.9; */
    /* aspect-ratio: 1/1 ; */
}

.box_three {
    background-color: #2e4b46;
    opacity: 0.9;
    height: 60px;
    width: 270px;
    margin-left: 68%;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
}

.box_text {
    position: relative;
    margin-left: 10%;
    padding-top: 20%;
}

.box_text2 {
    position: relative;
    margin-left: 10%;
    padding-top: 7%;
}


.side_nav {
    position: absolute;
    top: 0;
    right: 0;
    /* height: 100vh; */
    width: 100px;
    /* background-color: #333; */
    color: blue;
    padding: 20px;
    box-sizing: border-box;
    writing-mode :vertical-lr;
    margin-top: 230px;
    margin-right: 0px;
}

.side_nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.side_nav li {
    margin-bottom: 45px;

}

.side_nav a {
    text-decoration: none;
    color: #040404;
}

.customer_box {
    position: relative;
    background-color: #e2dcdc;
    /* opacity: 0.5; */
    height: 100px;
    width: 370px;
    margin-left: 100px;
    /* margin-right: 30%; */
    margin-top: 10%;
    border-radius: 20px;
    display: inline-block;
    /* background-image: url(./BG1.jpeg); */
    
}

.c1 {
    background-color: rgb(252, 252, 253);
    border-radius: 50%;
    border: none;
    text-align: center;
    /* height: 100%; */
    max-height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 70%;
    top: 0;
    bottom: 0;
    /* margin: auto; */
    margin-top: -35px;
    


}

.c1 img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    
}

.customer_section {
    position: absolute;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    object-fit: cover;
}
.customer_box img{
    height: 120px;
    width: auto;
    /* position:relative; */
    margin-top: -10px;
    float: right;
    margin-left: -10px;

}